.navBar {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 50;
}

.navBar .navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.4rem;
  background-color: var(--transparency-color);
}

.navBar .mobileNavigation {
  display: none;
}

@media (max-width: 640px) {
  .navBar .navigation {
    display: none;
  }

  .navBar .mobileNavigation {
    display: block;
  }
}
