.navBar {
  background-color: var(--bg-color);
  width: 100%;
}

.navBar .navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.navBar .mobileNavigation {
  /*display: none;*/
}

@media (max-width: 640px) {
  .navBar .navigation {
    display: none;
  }

  .navBar .mobileNavigation {
    display: block;
  }

  .navBar .mobileNavigation ul {
    display: flex;
    flex-direction: column;
    text-align: right;
    position: absolute;
    bottom: 100%;
    width: 150px;
    right: 0;
  }

  .navBar ul li {
    padding: 0.4rem 1rem;
    margin: 0.4rem 0;
    text-align: right;
    backdrop-filter: blur(10px);
    background-color: var(--transparency-color);
    border-radius: 10px 0 0 10px;
  }

  .navBar ul li:last-child {
    margin-bottom: 1.2rem;
  }

}